@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		background-color: rgb(234, 234, 227);
		color: rgb(58, 66, 60);
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 14px;
	}
}

h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	font-weight: 600;
}

h2 {
	font-family:'Source Sans Pro', sans-serif;
	font-size: 40px;
	font-weight: 600;
}

h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-size: 24px;
}

h4 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;

}

p {
	font-family:'Source Sans Pro', sans-serif;
	font-size: 14px;

}

a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.LazyLoad {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.is-visible {
	opacity: 1;
}

input {
	height: 2.5rem;
	padding: 1rem;
  }

@media only screen and (max-width: 767px) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 18px;
	}

	h4 {
		font-size: 14px;
	}

	p {
		font-size: 14px;
	}
}
